@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

header .layer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    top: 0;
    left: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #FF2020;
}

button:hover {
    background-color: #da1d1d;
    transform: scale(1.1);
}

.container {
    max-width: 1400px;
    margin: auto;
    background-color: #2b2727;
}

.accent {
    color: #FF2020;
}

header {
    background-color: #1f1d1d;
}

header .logo {
    display: flex;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    align-items: center;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1d1d;
}

header .container .btn-menu,
.logo {
    float: left;
    padding: 15px;
    align-items: center;
}

header .container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    text-shadow: 0px 0px 10px #ff5050;
    transform: scale(1.1);
}


#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(20%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 30px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ff5050;
    background: #292222;
    transform: scale(1.05);
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

#Main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imgs/bakcground.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: center center;
}

#Main h1 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    object-fit: cover;
}

#Main h1:hover {
    color: rgb(255, 77, 77);
    transform: scale(1.25);

}

#Main button {
    font-size: 3vw;
}

#About-us {
    background-color: #1a1818;
}

#About-us .container {
    background-color: #1a1818;
    text-align: center;
    padding: 200px 12px;
    color: white;
    transition: all 400ms ease-out;
    cursor: default;
}

#About-us .img-container {
    background-image: url("imgs/LogoDARKEN.png");
    box-shadow: 5px 5px 20px #772525;
}

#About-us button {
    padding: 8px 20px;
    border-radius: 50px;
}

#Menu {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#Menu .container {
    padding: 150px 12px;
}

#Menu h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#Menu p {
    display: none;
}

#Menu .Card {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
    transition: all 400ms ease-out;
    cursor: default;
}

#Menu .Card:hover {
    box-shadow: 5px 5px 20px #772525;
    transform: translateY(-3%);
}

.Card:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imgs/Cappuccino.jpg");

}

.Card:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imgs/Oreo.jpg");
}

.Card:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imgs/Milkshakes.jpg");

}

#Contacts .container {
    text-align: justify;
    padding: 250px 12px;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imgs/bakcground.png");
    color: white;
}

#Contacts li {
    margin: 16px 0px;
    font-weight: bold;
}

#Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#Footer h2 {
    font-size: 8vw;
    transition: 0.5s;
    object-fit: cover;
}

#Footer h2:hover {
    transform: scale(1.1);
}

#Footer button {
    font-size: 5vw;
}

footer {
    background-color: rgb(30, 30, 30);
}

footer p {
    margin: 5;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 120px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

#Map .container {
    background-color: #1a1818;
    text-align: center;
    padding: 200px 12px;
    color: white;
    transition: all 400ms ease-out;
    cursor: default;
}

#Location .container {
    background-color: #252323;
    padding: 80px 12px;
    color: white;
}

#Location .Map {
    background-position: center center;
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #Main h1 {
        font-size: 5em;
    }

    #About-us .container {
        display: flex;
        justify-content: space-evenly;
    }

    #About-us .text {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #About-us h2 {
        margin-top: 0px;
    }

    #About-us .img-container {
        background-image: url("imgs/LogoDARKEN.png");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }

    #Menu {
        background-color: #2b2727;
    }

    #Menu .Products {
        display: flex;
        justify-content: center;
    }

    #Menu p {
        display: block;
        margin-bottom: 30px;
    }

    #Menu h2 {
        font-size: 4em;
    }

    #Menu h3 {
        margin-top: 0;
    }

    #Menu .Card {
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .Card:first-child {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("imgs/Cappuccino.jpg");

    }

    .Card:nth-child(2) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("imgs/Oreo.jpg");
    }

    .Card:nth-child(3) {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("imgs/Milkshakes.jpg");

    }

    #Contacts {
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
        background-color: #1c1c1c;
    }

    #Contacts .container {
        text-align: center;
    }

    #Contacts ul {
        margin-left: 0px;
    }

    #Footer h2 {
        font-size: 5em;
    }

    #Footer button {
        font-size: 2em;
    }

    footer .container {
        justify-content: flex-end;
    }

    #Map {
        background-color: #1a1818;
    }

    #Map .container {
        display: flex;
        justify-content: space-evenly;
    }

    #Map .text {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Map h2 {
        margin-top: 0px;
    }

    #Map .img-container {
        background-image: url("imgs/Mapa.jpg");
        background-size: cover;
        background-position: cover;
        height: 300px;
        width: 450px;
    }

    #Location {
        background-color: #252323;
    }

    #Location .Map {
        background-position: center center;
    }

    #Location .text {
        text-align: center;
    }

    footer {
        background-color: #2b2727;
    }
}

@media (min-width: 1200px) {
    #Menu {
        background-position-x: calc(100vw - 800px);
    }
}